<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <p>I love cat</p>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
</body>
</html>
